# Dependabot will run on day 16 of each month at 03:43 (Europe/Berlin timezone)
version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "cron"
      timezone: "Europe/Berlin"
      cronjob: "43 3 16 * *"
    open-pull-requests-limit: 15
    assignees:
      - "ticaki"
    versioning-strategy: "increase"
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "cron"
      timezone: "Europe/Berlin"
      cronjob: "43 3 16 * *"
    open-pull-requests-limit: 15
    assignees:
      - "ticaki"
